<div class="banner__studyGroup">
  <div class="banner__studyGroup--overlay"></div>
  <div class="banner__studyGroup--background"></div>
  <div class="banner__studyGroup--content">
    <h1 class="banner__studyGroup--title animate__animated animate__fadeInLeft">Construyendo tu futuro con <span>capacitaciones</span></h1>
    <h2 class="banner__studyGroup--subtitle animate__animated animate__fadeInLeft">Potencia tus conocimientos en Ciencia de Datos, Inteligencia Artificial & Seguridad Informática
      con nuestros Programas de Especialización.</h2>
  </div>
</div>
