<div class="banner__studyGroup">
  <div class="banner__studyGroup--overlay"></div>
  <div class="banner__studyGroup--background"></div>
  <div class="banner__studyGroup--content">
    <h1 class="banner__studyGroup--title">Construyendo tu futuro <br> con <span>capacitaciones</span></h1>
    <h2 class="banner__studyGroup--subtitle">Potencia tus conocimientos en Ciencia de Datos, Inteligencia Artificial & Seguridad Informática
      <br> con nuestros Programas de Especialización.</h2>
  </div>
</div>
