<div class="banner__studyGroup">
  <div class="banner__studyGroup--overlay"></div>
  <img src="/assets/images/banner-comunidad.jpg"
       alt="Imagen de Fondo"
       class="banner__studyGroup--background">
  <div class="banner__studyGroup--content">
    <h1 class="banner__studyGroup--title">GRUPOS DE ESTUDIO</h1>
    <h2 class="banner__studyGroup--subtitle">Potencia tus conocimientos con nuestros Grupos de Estudios.
      <br>
      Postula y s&eacute; el ganador de una de las becas que tenemos.</h2>
  </div>
</div>
