<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>Desata tu potencial, desarrolla tus habilidades con nosotros</h2>
            <p>Con Data Growth, podrás adquirir conocimientos sobre herramientas tecnológicas de la industria actual y, además, con excelentes beneficios que te ayudarán a lograr tu objetivo.</p>
        </div>
        <div class="btns-information">
            <a class="btn btn-info" href="/grupo-estudio" role="button">Asesorías</a>
            <a class="btn btn-info" href="/grupo-estudio" role="button">Bolsa de Trabajo</a>
            <a class="btn btn-info" href="/grupo-estudio" role="button">Certificaciones</a>
            <a class="btn btn-info" href="/grupo-estudio" role="button">Comunidad</a> 
        </div>
    </div>
</div>
