<section class="testimonial">
  <div class="testimonial__container">
    <div class="row m-0 ">
      <div class="col-12 col-md-9 testimonial__header">
        <h2 class="text-center">Lo que nuestros <span>estudiantes</span> opinan</h2>
      </div>
    </div>

    <div class="row m-0 testimonial__blocks">
      <div class="col mb-2 testimonial__blocks--cards">
        <p class="testimonial__blocks__message">Quiero agradecer a Data Growth Community por brindarme esta oportunidad de
          aprendizaje y desarrollo. Su compromiso con la educaci&oacute;n en ciencia de datos y big data ha sido
          invaluable...</p>
        <h5 class="testimonial__blocks__name">Telma Ramos</h5>
        <span class="testimonial__groupStudy">Bootcamp Data Analytics with Python</span>
        <a href="https://www.linkedin.com/company/datagrowthcommunity/" class="testimonial__link"
          target="_blank">LinkedIn</a>
        <img class="testimonial__photo card-img-top"
          src="https://images.unsplash.com/photo-1549836938-d278c5d46d20?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=303&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=303"
          alt="">
      </div>
      <div class="col mb-2 testimonial__blocks--cards">
        <p class="testimonial__blocks__message">Quiero agradecer al grupo de estudios Data Growth Community por la constancia
          recibida y también agradezco el esfuerzo de lo mentores que estan ahí preparándonos material y cosas nuevas
          para aprender del mundo de los Datos.</p>
        <h5 class="testimonial__blocks__name">Luis Bonifas</h5>
        <span class="testimonial__groupStudy">Grupo de Estudio Big Data y Analytics</span>
        <a href="https://www.linkedin.com/company/datagrowthcommunity/" class="testimonial__link"
          target="_blank">LinkedIn</a>
        <img class="testimonial__photo card-img-top"
          src="https://images.unsplash.com/photo-1572561300743-2dd367ed0c9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=300"
          alt="">
      </div>
      <div class="col mb-2 testimonial__blocks--cards">
        <p class="testimonial__blocks__message">Quiero agradecer a Data Growth Community por brindarme esta oportunidad de
          aprendizaje y desarrollo. Su compromiso con la educaci&oacute;n en ciencia de datos y big data ha sido
          invaluable...</p>
        <h5 class="testimonial__blocks__name">Jesus Acuña</h5>
        <span class="testimonial__groupStudy">Grupo de Estudio Big Data y Analytics</span>
        <a href="https://www.linkedin.com/company/datagrowthcommunity/" class="testimonial__link"
          target="_blank">LinkedIn</a>
        <img class="testimonial__photo card-img-top"
          src="https://images.unsplash.com/photo-1572561300743-2dd367ed0c9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=300"
          alt="">
      </div>
      <div class="col mb-2 testimonial__blocks--cards">
        <p class="testimonial__blocks__message">Les comparto mi certificación del Bootcamp de Data Analytics con DGC, gracias a
          esta comunidad por brindarme la oportunidad de aprender y compartir mis conocimientos, de dar un paso más
          hacia este proyecto de ser Analista de datos.</p>
        <h5 class="testimonial__blocks__name">Juana Duran</h5>
        <span class="testimonial__groupStudy"> Grupo de Estudio Big Data y Analytics </span>
        <a href="https://www.linkedin.com/company/datagrowthcommunity/" class="testimonial__link"
          target="_blank">LinkedIn</a>
        <img class="testimonial__photo card-img-top"
          src="https://images.unsplash.com/photo-1549836938-d278c5d46d20?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=303&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=303"
          alt="">
      </div>
    </div>
    <div class="testimonial__footer">
      <div class="testimonial__link ">
        <div class="testimonial__link--content">
          <div class="border-section"></div>
            <a [routerLink]="['/grupo-estudio']">
              <svg class="mx-2" width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 14.3333L25 7.66667L13 1L1 7.66667L13 14.3333ZM13 14.3333L21.2133 9.77067C22.294 12.5148 22.6007 15.5029 22.1 18.4093C18.7181 18.7376 15.5296 20.1382 13 22.4067C10.4707 20.1384 7.28278 18.7378 3.90133 18.4093C3.40027 15.5029 3.70698 12.5147 4.788 9.77067L13 14.3333ZM7.66667 22.3333V12.3333L13 9.37067" stroke="#141222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
                Aprende ahora
            </a>

        </div>
      </div>
    </div>
   
  </div>
</section>