<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2 class="title-banner">Lo que nuestros estudiantes opinan</h2>
            <div class="testimonials">
                <div class="card-testimonials">

                    <div class="card text-center">
                      <div class="card-body">
                        <p class="card-text">Quiero agradecer a Data Growth Community por brindarme esta oportunidad de aprendizaje y desarrollo. Su compromiso con la educación en ciencia de datos y big data ha sido invaluable... </p>
                        <h5>Jesus Acuña <br />
                          <span class="type-group-study"> Grupo de Estudio Big Data y Analytics </span>
                        </h5>
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1572561300743-2dd367ed0c9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=300" alt="">
                      </div>
                    </div>
    
                    <div class="card text-center">
                        <div class="card-body">
                          <p class="card-text">Quiero agradecer a Data Growth Community por brindarme esta oportunidad de aprendizaje y desarrollo. Su compromiso con la educación en ciencia de datos y big data ha sido invaluable... </p>
                          <h5>Jesus Acuña <br />
                            <span class="type-group-study"> Grupo de Estudio Big Data y Analytics </span>
                          </h5>
                          <img class="card-img-top" src="https://images.unsplash.com/photo-1572561300743-2dd367ed0c9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=300" alt="">
                        </div>
                      </div>

                      <div class="card text-center">
                        <div class="card-body">
                          <p class="card-text">Quiero agradecer a Data Growth Community por brindarme esta oportunidad de aprendizaje y desarrollo. Su compromiso con la educación en ciencia de datos y big data ha sido invaluable... </p>
                          <h5>Jesus Acuña <br />
                            <span class="type-group-study"> Grupo de Estudio Big Data y Analytics </span>
                          </h5>
                          <img class="card-img-top" src="https://images.unsplash.com/photo-1575377222312-dd1a63a51638?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=302&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=302" alt="">
                        </div>
                      </div>

                      <div class="card text-center">
                        <div class="card-body">
                          <p class="card-text">Quiero agradecer a Data Growth Community por brindarme esta oportunidad de aprendizaje y desarrollo. Su compromiso con la educación en ciencia de datos y big data ha sido invaluable... </p>
                          <h5>Jesus Acuña <br />
                            <span class="type-group-study"> Grupo de Estudio Big Data y Analytics </span>
                          </h5>
                          <img class="card-img-top" src="https://images.unsplash.com/photo-1549836938-d278c5d46d20?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=303&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=303" alt="">
                        </div>
                      </div>
                  
                </div>
            </div>
            <div class="btns">
                <a class="btn btn-contact" href="/grupo-estudio" role="button">Capacítate con nosotros</a>
            </div>
        </div>
    </div>
</div>