<section class="testimonial">
  <div class="testimonial__container">
    <div class="row m-0 ">
      <div class="col-12 col-md-9 testimonial__header">
        <h2 class="text-center">Lo que nuestros estudiantes opinan</h2>
      </div>
    </div>

    <div class="row m-0 testimonial__blocks">
      <div class="col mb-2 testimonial__block">
        <p class="testimonial__message">Quiero agradecer a Data Growth Community por brindarme esta oportunidad de
          aprendizaje y desarrollo. Su compromiso con la educaci&oacute;n en ciencia de datos y big data ha sido
          invaluable...</p>
        <h5 class="testimonial__name">Telma Ramos</h5>
        <span class="testimonial__groupStudy">Bootcamp Data Analytics with Python</span>
        <a href="https://www.linkedin.com/company/datagrowthcommunity/" class="testimonial__link"
          target="_blank">LinkedIn</a>
        <img class="testimonial__photo card-img-top"
          src="https://images.unsplash.com/photo-1549836938-d278c5d46d20?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=303&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=303"
          alt="">
      </div>
      <div class="col mb-2 testimonial__block">
        <p class="testimonial__message">Quiero agradecer al grupo de estudios Data Growth Community por la constancia
          recibida y también agradezco el esfuerzo de lo mentores que estan ahí preparándonos material y cosas nuevas
          para aprender del mundo de los Datos.</p>
        <h5 class="testimonial__name">Luis Bonifas</h5>
        <span class="testimonial__groupStudy">Grupo de Estudio Big Data y Analytics</span>
        <a href="https://www.linkedin.com/company/datagrowthcommunity/" class="testimonial__link"
          target="_blank">LinkedIn</a>
        <img class="testimonial__photo card-img-top"
          src="https://images.unsplash.com/photo-1572561300743-2dd367ed0c9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=300"
          alt="">
      </div>
      <div class="col mb-2 testimonial__block">
        <p class="testimonial__message">Quiero agradecer a Data Growth Community por brindarme esta oportunidad de
          aprendizaje y desarrollo. Su compromiso con la educaci&oacute;n en ciencia de datos y big data ha sido
          invaluable...</p>
        <h5 class="testimonial__name">Jesus Acuña</h5>
        <span class="testimonial__groupStudy">Grupo de Estudio Big Data y Analytics</span>
        <a href="https://www.linkedin.com/company/datagrowthcommunity/" class="testimonial__link"
          target="_blank">LinkedIn</a>
        <img class="testimonial__photo card-img-top"
          src="https://images.unsplash.com/photo-1572561300743-2dd367ed0c9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=300"
          alt="">
      </div>
      <div class="col mb-2 testimonial__block">
        <p class="testimonial__message">Les comparto mi certificación del Bootcamp de Data Analytics con DGC, gracias a
          esta comunidad por brindarme la oportunidad de aprender y compartir mis conocimientos, de dar un paso más
          hacia este proyecto de ser Analista de datos.</p>
        <h5 class="testimonial__name">Juana Duran</h5>
        <span class="testimonial__groupStudy"> Grupo de Estudio Big Data y Analytics </span>
        <a href="https://www.linkedin.com/company/datagrowthcommunity/" class="testimonial__link"
          target="_blank">LinkedIn</a>
        <img class="testimonial__photo card-img-top"
          src="https://images.unsplash.com/photo-1549836938-d278c5d46d20?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=303&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=303"
          alt="">
      </div>
    </div>

    <div class="row m-0 testimonial__footer">
      <div class="col-12 col-md-9">
        <a [routerLink]="['/grupo-estudio']" target="_blank"
          class="testimonial__link testimonial__link--button">Ir a la comunidad</a>
      </div>
    </div>
  </div>
</section>