@import 'src/styles.scss';

.banner {
    background: -webkit-linear-gradient(45deg, $color-1, $color-success, $color-input-p);
    width: 100%;

    .banner__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .banner__block {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1.banner__title {
                color: $color-2;
                font-size: $font-h-1;
                font-weight: 600;
                width: 492px;
            }

            p {
                color: $color-2;
                font-size: 22px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                width: 492px;
            }

            a {
                text-decoration: none;
                color: $color-2;
                font-size: 22px;
                font-weight: 400;
            }

            .banner__link--button {
                background: $color-success;
                border: 2px solid $color-success;
                border-radius: $border-radius-button-2;
                padding: 11px 19px;
                transition: all $animation ease;
                width: 312px;

                &:hover {
                    background-color: $color-2;
                    color: $color-1;
                }
            }
        }
    }
}