<div class="container text-center banner">
    <div class="row row-cols-2">
        <div class="col info">
            <h1 class="title-banner">Construyendo tu futuro con conocimiento</h1>
            <p class="title-tema">Impulsamos tu carrera profesional en Ciencia de Datos & Big Data.</p>
            <a class="btn btn-primary" href="/grupo-estudio" role="button">Capacítate con nosotros</a>
        </div>
        <div class="col">
            <img src="../assets/images/laptops.png" alt="">
        </div>
    </div>
</div>