<section class="banner">
    <div class="banner__container">
        <div class="row mb-0">
            <div class="col-12 col-md-6 d-flex justify-content-start align-items-center">
                <div class="banner__block">
                    <h1 class="banner__title">Construyendo tu futuro con <span>conocimientos</span></h1>
                    <p class="banner__object">Impulsamos tu carrera profesional en Ciencia de Datos, Inteligencia Artificial & Seguridad Informática.</p>
                    <a [routerLink]="['/grupo-estudio']" target="_blank" class="banner__link--button">Capac&iacute;tate</a>
                </div>
            </div>
        </div>
    </div>
</section>
