<section class="banner">
  <div class="banner__overlay"></div>
  <div class="banner__overlay-mobile"></div>
  <div class="banner__main">
      <div class="elipse__one"></div>
      <div class="elipse__two"></div>
      <div class="elipse__three"></div>
      <div class="elipse__four"></div>
      <div class="elipse__five"></div>
      <div class="banner__container">
          <div class="row mb-0">
              <div class="col-12 col-md-9 col-md-8 d-flex justify-content-start align-items-center">
                  <div class="banner__block">
                      <h1 class="banner__title">Construyendo tu futuro con <span>conocimientos</span></h1>
                      <p class="banner__object my-3 my-md-4">Impulsamos tu carrera profesional en Ciencia de Datos, Inteligencia Artificial & Seguridad Informática.</p>
                      <div class="banner__body--link">
                        <div class="border-section"></div>
                        <a [routerLink]="['/grupo-estudio']" class="banner__link--button">
                          <svg class="mx-2" width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 14.3333L25 7.66667L13 1L1 7.66667L13 14.3333ZM13 14.3333L21.2133 9.77067C22.294 12.5148 22.6007 15.5029 22.1 18.4093C18.7181 18.7376 15.5296 20.1382 13 22.4067C10.4707 20.1384 7.28278 18.7378 3.90133 18.4093C3.40027 15.5029 3.70698 12.5147 4.788 9.77067L13 14.3333ZM7.66667 22.3333V12.3333L13 9.37067" stroke="#141222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                            Capac&iacute;tate
                        </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
