<section class="infoCom">
  <div class="infoCom__content reveal">
    <div class="row infoCom__content--text reveal fade-left">
      <div class="col-12 col-md-9">
        <h2 class="text-center"> Desata tu potencial y desarrolla tus <span class="color__hab">habilidades</span> con nosotros</h2>
        <p class="text-center">Data Growth te brinda el conocimiento sobre las herramientas tecnológicas líderes en la industria, junto con beneficios inigualables para que alcances tus metas con éxito.</p>
      </div>
    </div>
    <div class="mt-4 infoCom__content--navs reveal fade-right">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-ase-tab" data-bs-toggle="pill" data-bs-target="#pills-ase" type="button" role="tab" aria-controls="pills-ase" aria-selected="true">Asesor&iacute;as</button>
          <div class="border-section"></div>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-workBag-tab" data-bs-toggle="pill" data-bs-target="#pills-workBag" type="button" role="tab" aria-controls="pills-workBag" aria-selected="false">Bolsa de trabajo</button>
          <div class="border-section"></div>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-resources-tab" data-bs-toggle="pill" data-bs-target="#pills-resources" type="button" role="tab" aria-controls="pills-resources" aria-selected="false">Recursos</button>
          <div class="border-section"></div>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-events-tab" data-bs-toggle="pill" data-bs-target="#pills-events" type="button" role="tab" aria-controls="pills-events" aria-selected="false">Eventos gratuitos</button>
          <div class="border-section"></div>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane p-4 fade show active" id="pills-ase" role="tabpanel" aria-labelledby="pills-ase-tab">
          <div class="row align-items-center infoCom__content--boxImage">
            <div class="col-12 order-2 order-lg-1 col-lg-6 infoCom__content--boxImage_photoBox">
              <img src="/assets/images/asesorias.png" alt="asesorias">
            </div>
            <div class="col-12 order-1 order-lg-2 col-lg-6 infoCom__content--boxImage_textBox">
              <img src="/assets/images/star.png" alt="icon-star">
              <p class="infoCom__content--boxImage_textBox-title"><strong>Consejo de Expertos</strong></p>
              <p class="infoCom__content--boxImage_textBox-text">Aprovecha el conocimiento de profesionales de distintas industrias para perfeccionar tus habilidades y decisiones.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane p-4 fade" id="pills-workBag" role="tabpanel" aria-labelledby="pills-workBag-tab">
          <div class="row align-items-center infoCom__content--boxImage">
            <div class="col-12 order-2 order-lg-1 col-lg-6 infoCom__content--boxImage_photoBox">
              <img src="/assets/images/bolsa-trabajo.png" alt="bolsa-trabajo">
            </div>
            <div class="col-12 order-1 order-lg-2 col-lg-6 infoCom__content--boxImage_textBox">
              <img src="/assets/images/briefcase.png" alt="icon-briefcase">
              <p class="infoCom__content--boxImage_textBox-title"><strong>Encuentra tu pr&oacute;ximo desaf&iacute;o</strong></p>
              <p class="infoCom__content--boxImage_textBox-text">Explora oportunidades laborales estrat&eacute;gicas diseñadas para tu perfil, impuls&aacute;ndote hacia el &eacute;xito en tu trayectoria.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane p-4 fade" id="pills-resources" role="tabpanel" aria-labelledby="pills-resources-tab">
          <div class="row align-items-center infoCom__content--boxImage">
            <div class="col-12 order-2 order-lg-1 col-lg-6 infoCom__content--boxImage_photoBox">
              <img src="/assets/images/recursos.png" alt="recursos">
            </div>
            <div class="col-12 order-1 order-lg-2 col-lg-6 infoCom__content--boxImage_textBox">
              <img src="/assets/images/document-duplicate.png" alt="icon-document-duplicate">
              <p class="infoCom__content--boxImage_textBox-title"><strong>Recursos de Impacto</strong></p>
              <p class="infoCom__content--boxImage_textBox-text">Accede a recursos que enriquecer&aacute;n tu conocimiento y te equipar&aacute;n para enfrentar los desaf&iacute;os del futuro.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane p-4 fade" id="pills-events" role="tabpanel" aria-labelledby="pills-events-tab">
          <div class="row align-items-center infoCom__content--boxImage">
            <div class="col-12 order-2 order-lg-1 col-lg-6 infoCom__content--boxImage_photoBox">
              <img src="/assets/images/eventos.png" alt="eventos">
            </div>
            <div class="col-12 order-1 order-lg-2 col-lg-6 infoCom__content--boxImage_textBox">
              <img src="/assets/images/calendar2.png" alt="icon-calendar2">
              <p class="infoCom__content--boxImage_textBox-title"><strong>Apunta tus conocimientos</strong></p>
              <p class="infoCom__content--boxImage_textBox-text">Encuentra eventos que ayudar&aacute;n a tu crecimiento profesional para lograr tus pr&oacute;ximas metas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="button" class="infoCom__link">
      <div class="infoCom__link--content">
        <div class="border-section"></div>
        <a href="https://data-growth-23930117.hubspotpagebuilder.com/bootcamp-data-analytics?hsLang=es" target="_blank">
          <svg width="29" class="mx-2" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.7917 7.66671H24.7083C25.4819 7.66671 26.2237 7.974 26.7707 8.52098C27.3177 9.06796 27.625 9.80983 27.625 10.5834V19.3334C27.625 20.1069 27.3177 20.8488 26.7707 21.3958C26.2237 21.9427 25.4819 22.25 24.7083 22.25H21.7917V28.0834L15.9583 22.25H10.125C9.74194 22.2504 9.36257 22.1751 9.00869 22.0285C8.65482 21.8818 8.3334 21.6667 8.06292 21.3955M8.06292 21.3955L13.0417 16.4167H18.875C19.6485 16.4167 20.3904 16.1094 20.9374 15.5624C21.4844 15.0155 21.7917 14.2736 21.7917 13.5V4.75004C21.7917 3.97649 21.4844 3.23463 20.9374 2.68765C20.3904 2.14066 19.6485 1.83337 18.875 1.83337H4.29167C3.51812 1.83337 2.77625 2.14066 2.22927 2.68765C1.68229 3.23463 1.375 3.97649 1.375 4.75004V13.5C1.375 14.2736 1.68229 15.0155 2.22927 15.5624C2.77625 16.1094 3.51812 16.4167 4.29167 16.4167H7.20833V22.25L8.06292 21.3955Z" stroke="#141021" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg> Ir a la comunidad
        </a>
      </div>
    </div>
  </div>
</section>
