<section class="infoCom">
  <div class="infoCom__content">
    <div class="row infoCom__content--text">
      <div class="col-12 col-md-9">
        <h2 class="text-center">Desata tu potencial, desarrolla tus <span>habilidades</span> con nosotros</h2>
        <p class="text-center">Data Growth te brinda el conocimiento sobre las herramientas tecnológicas líderes en la industria, junto con beneficios inigualables para que alcances tus metas con éxito.</p>
      </div>
    </div>
    <div class="mt-4 infoCom__content--navs">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-ase-tab" data-bs-toggle="pill" data-bs-target="#pills-ase" type="button" role="tab" aria-controls="pills-ase" aria-selected="true">Asesor&iacute;as</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-workBag-tab" data-bs-toggle="pill" data-bs-target="#pills-workBag" type="button" role="tab" aria-controls="pills-workBag" aria-selected="false">Comunidad</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-resources-tab" data-bs-toggle="pill" data-bs-target="#pills-resources" type="button" role="tab" aria-controls="pills-resources" aria-selected="false">Certificaciones</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-events-tab" data-bs-toggle="pill" data-bs-target="#pills-events" type="button" role="tab" aria-controls="pills-events" aria-selected="false">Bolsa de trabajo</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane p-4 fade show active" id="pills-ase" role="tabpanel" aria-labelledby="pills-ase-tab">
          <div class="row align-items-center infoCom__content--boxImage">
            <div class="col-12 order-2 order-lg-1 col-lg-6 infoCom__content--boxImage_photoBox">
              <img src="/assets/images/asesorias.png" alt="asesorias">
            </div>
            <div class="col-12 order-1 order-lg-2 col-lg-6 infoCom__content--boxImage_textBox">
              <p class="infoCom__content--boxImage_textBox-title"><strong>Consejo de Expertos</strong></p>
              <p class="infoCom__content--boxImage_textBox-text">Aprovecha el conocimiento de profesionales de distintas industrias para perfeccionar tus habilidades y decisiones.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane p-4 fade" id="pills-workBag" role="tabpanel" aria-labelledby="pills-workBag-tab">
          <div class="row align-items-center infoCom__content--boxImage">
            <div class="col-12 order-2 order-lg-1 col-lg-6 infoCom__content--boxImage_photoBox">
              <img src="/assets/images/bolsa-trabajo.png" alt="bolsa-trabajo">
            </div>
            <div class="col-12 order-1 order-lg-2 col-lg-6 infoCom__content--boxImage_textBox">
              <p class="infoCom__content--boxImage_textBox-title"><strong>Encuentra tu pr&oacute;ximo desaf&iacute;o</strong></p>
              <p class="infoCom__content--boxImage_textBox-text">Explora oportunidades laborales estrat&eacute;gicas diseñadas para tu perfil, impuls&aacute;ndote hacia el &eacute;xito en tu trayectoria.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane p-4 fade" id="pills-resources" role="tabpanel" aria-labelledby="pills-resources-tab">
          <div class="row align-items-center infoCom__content--boxImage">
            <div class="col-12 order-2 order-lg-1 col-lg-6 infoCom__content--boxImage_photoBox">
              <img src="/assets/images/recursos.png" alt="recursos">
            </div>
            <div class="col-12 order-1 order-lg-2 col-lg-6 infoCom__content--boxImage_textBox">
              <p class="infoCom__content--boxImage_textBox-title"><strong>Recursos de Impacto</strong></p>
              <p class="infoCom__content--boxImage_textBox-text">Accede a recursos que enriquecer&aacute;n tu conocimiento y te equipar&aacute;n para enfrentar los desaf&iacute;os del futuro.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane p-4 fade" id="pills-events" role="tabpanel" aria-labelledby="pills-events-tab">
          <div class="row align-items-center infoCom__content--boxImage">
            <div class="col-12 order-2 order-lg-1 col-lg-6 infoCom__content--boxImage_photoBox">
              <img src="/assets/images/eventos.png" alt="eventos">
            </div>
            <div class="col-12 order-1 order-lg-2 col-lg-6 infoCom__content--boxImage_textBox">
              <p class="infoCom__content--boxImage_textBox-title"><strong>Apunta tus conocimientos</strong></p>
              <p class="infoCom__content--boxImage_textBox-text">Encuentra eventos que ayudar&aacute;n a tu crecimiento profesional para lograr tus pr&oacute;ximas metas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
