@import 'src/styles.scss';

.footer {
  width: 100%;
  .footer__container {
    background-color: $color-back-1;
    min-height: 110px;
    padding: 2rem;
    .footer__block {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      a {
        text-decoration: none;
        color: $color-1;
        line-height: 1;
      }
      .footer__block-networks {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
          margin: 10px;
        }
      }
    }
  }
  .footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $color-back-1;
    height: 50px;
    color: $color-1;
    font-size: 15px;
  }
}
