@import 'src/styles.scss';

.footer {
  width: 100%;
  position: relative;
  margin: 2rem 0 0 0;
  .footer__container {
    position: inherit;
    z-index: 5;
    min-height: 110px;
    .footer__block {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      a {
        text-decoration: none;
        color: $color-1;
        line-height: 1;
      }
      .footer__block-networks {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
          margin: 10px;
          margin-top: 0px;
        }
      }
    }
    .footer__block--start, .footer__block--end {
      align-items: start;
    }
  }
  .footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    color: $color-1;
    font-size: 15px;
  }

  @media(max-width: 768px) {
    a {
      font-size: 18px;
      margin-top: 5px;
    }
  }

}
