@import 'src/styles.scss';

.follow {
    background: url(/assets/images/conferencia.png), linear-gradient(45deg, #0b0b81, #065959, #10103d, #0e58f1);
    background-size: cover;
    background-blend-mode: multiply; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 481px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .follow__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .follow__block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2.follow__title {
                width: 878px;
                color: $color-2;
                font-size: $font-h-2;
                font-weight: 600;
                line-height: 57px;
                letter-spacing: 0em;
            }

            p {
                width: 878px;
                color: $color-2;
                font-size: 22px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                margin-top: 1rem !important;
                margin-bottom: 2rem !important;
            }

            a {
                text-decoration: none;
                color: $color-2;
                font-size: 22px;
                font-weight: 400;
            }

            .follow__link--button {
                background: $color-back-2;
                border-radius: $border-radius-button-1;
                padding: 11px 26px 11px 26px;
                transition: all $animation ease;
                width: 312px;

                &:hover {
                    background-color: $color-2;
                    color: $color-1;
                }
            }
        }
    }
}