<section class="follow">
    <div class="container follow__container">
        <div class="row m-0">
            <div class="col mb-2 follow__block">
                <h2 class="text-center follow__title">&Uacute;NETE A LA COMUNIDAD</h2>
                <p class="text-center follow__message">S&eacute; parte de nuestra comunidad en WhatsApp encontrar&aacute;s ofertas laborales, eventos y capacitaciones de profesionales destacados.</p>
                <a [routerLink]="['/grupo-estudio']" target="_blank" class="text-center follow__link follow__link--button">Ir a la comunidad</a>
            </div>
        </div>
    </div>
</section>