<section class="follow">
    <div class="follow__container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="follow__block">
                <img class="banner__image" src="/assets/images/whatsApp-comunidad.webp" alt="image-whatsapp">
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="follow__block--two">
                <h2 class="follow__title">&Uacute;nete a la <span>comunidad</span></h2>
                <p class="follow__message">S&eacute; parte de nuestra comunidad en WhatsApp encontrar&aacute;s ofertas
                    laborales, eventos y capacitaciones de profesionales destacados.</p>

                <div class="follow__link">
                    <div class="follow__link--content">
                        <div class="border-section"></div>
                        <a [routerLink]="['/grupo-estudio']" target="_blank">
                            <img src="/assets/images/chat-2.png" alt="comunidad-link"> Ir a la comunidad
                        </a>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>
</section>
