:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 481px;
    background: url(/assets/images/conferencia.png), linear-gradient(45deg, rgb(3, 7, 91), rgba(10,84,116,1), rgb(159, 199, 210) );
    background-size: cover;
    background-blend-mode: multiply; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    ::ng-deep {
        h4 {
            font-size: 48px;
            font-weight: 600;
            line-height: 57px;
            letter-spacing: 0em;
            text-align: center;
            color: #fff;
        }

        p {
            color: #fff;
        }
    }

    .btn-contact{
        background: #F72585;
        border-radius: 30px;
        width: 313px;
        color: #fff;
    }
}