@import 'src/styles.scss';

.header {
  background-color: rgba(68, 68, 68, 0.6980392157);
  min-height: 70px;
  width: 96%;
  padding: 5px 2rem;
  border-radius: 0.625rem;
  position: fixed;
  top: 3%;
  z-index: 99999;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2509803922);

  .header__nav {
    display: flex;
    justify-content: space-around;
    
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 100px;
    }
    .header__logo li {
      cursor: pointer;
    }
    .header__menu {
      display: flex;
      align-items: center;
      li.header__menu-item {
        margin: 0px 15px;
        a {
          text-decoration: none;
          color: $color-2;
          font-size: $font-p-4;
          font-weight: 500;
          line-height: 26.07px;
        }
        .header__menu-link--button {
          border: 2px solid $color-1;
          border-radius: $border-radius-button-1;
          padding: 8px 20px;
          transition: all $animation ease;
          &:hover {
           background-color: $color-1;
           color: $color-2;
          }
        }
        .header__menu-item--menuBar {
          border: none;
          background-color: $color-back-3;
          padding: 0;
        }
      }
    }
  }
}

.header__offcanvas--header {
  padding: 5px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__menu-item--menuClose {
    border: none;
    background-color: $color-back-3;
  }
}

.header__offcanvas--body {
  background-color: $color-back-1;
  color: $color-2;
  height: 100%;
  padding: 1rem 2rem;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      border-bottom: 2px solid $color-2;
      margin: 1rem 0;
      padding-bottom: 0.8rem;
      a {
        text-decoration: none;
        color: $color-2;
      }
    }
  }
}
