<div class="business">
  <div class="business__content">
    <div class="title__brands">
      <h2 class="titleText text-center">Nuestros egresados <span class="color__des">trabajan</span> en</h2>
    </div>

    <div class="container pt-5 pb-5">
      <div class="slider">
          <div class="slide__track">
              <div class="slide">
                  <img src="assets/images/brand-bcp.png" alt="logo empresa" />
              </div>
              <div class="slide">
                  <img src="assets/images/brand-antamina.png" alt="logo empresa" />
              </div>
              <div class="slide">
                  <img src="assets/images/brand-indra.png" alt="logo empresa" />
              </div>
              <div class="slide">
                  <img src="assets/images/brand-rimac.png" alt="logo empresa" />
              </div>
              <div class="slide">
                  <img src="assets/images/brand-interbank.png" alt="logo empresa" />
              </div>
              <div class="slide">
                <img src="assets/images/brand-bcp.png" alt="logo empresa" />
              </div>
              <div class="slide">
                  <img src="assets/images/brand-antamina.png" alt="logo empresa" />
              </div>
              <div class="slide">
                  <img src="assets/images/brand-indra.png" alt="logo empresa" />
              </div>
              <div class="slide">
                  <img src="assets/images/brand-rimac.png" alt="logo empresa" />
              </div>
              <div class="slide">
                  <img src="assets/images/brand-interbank.png" alt="logo empresa" />
              </div>
              <div class="slide">
                <img src="assets/images/brand-bcp.png" alt="logo empresa" />
              </div>
              <div class="slide">
                  <img src="assets/images/brand-antamina.png" alt="logo empresa" />
              </div>
              <div class="slide">
                  <img src="assets/images/brand-indra.png" alt="logo empresa" />
              </div>
              <div class="slide">
                  <img src="assets/images/brand-rimac.png" alt="logo empresa" />
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

