<div class="selectStudy">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card selectStudy__content--card mb-3" style="max-width: 625px;">
        <div class="row g-0">
          <img src="/assets/images/data-analitycs-2.webp" class="d-block d-lg-none card-img-top" alt="data-analytics">
          <div class="col-lg-7">
            <div class="card-body">
              <span class="selectStudy__body--span">GRUPO DE ESTUDIO</span>
              <h3>Data Analytics & Business Intelligence</h3>
              <div class="line"></div>
              <div class="mb-3">
                <p>Inicio: 23 de setiembre</p>
                <p>Duraci&oacute;n: 8 semanas</p>
                <p><i class='bx bx-time-five'></i> S&aacute;bados | 17hr - 20hr</p>
              </div>
              <div class="mb-3">
                <div class="selectStudy__body--tools row row-cols-2">
                  <div class="col">
                    <img src="/assets/images/tool-sql.webp" alt="tool-sql">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-python.webp" alt="tool-python">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-powerbi.webp" alt="tool-powerbi">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-numpy.webp" alt="tool-numpy">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-matplotlib.webp" alt="tool-matplotlib">
                  </div>
                </div>
              </div>
              <div class="selectStudy__body--link">
                <div class="border-section"></div>
                <a href="https://data-growth-23930117.hubspotpagebuilder.com/bootcamp-data-analytics?hsLang=es" target="_blank">
                  <svg class="mx-1" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 7.1911V10.2867M10 10.2867V13.3822M10 10.2867H13M10 10.2867H7M19 10.2867C19 11.5062 18.7672 12.7138 18.3149 13.8405C17.8626 14.9672 17.1997 15.991 16.364 16.8533C15.5282 17.7156 14.5361 18.3997 13.4442 18.8664C12.3522 19.3331 11.1819 19.5733 10 19.5733C8.8181 19.5733 7.64778 19.3331 6.55585 18.8664C5.46392 18.3997 4.47177 17.7156 3.63604 16.8533C2.80031 15.991 2.13738 14.9672 1.68508 13.8405C1.23279 12.7138 1 11.5062 1 10.2867C1 7.82368 1.94821 5.46158 3.63604 3.72C5.32387 1.97841 7.61305 1 10 1C12.3869 1 14.6761 1.97841 16.364 3.72C18.0518 5.46158 19 7.82368 19 10.2867Z" stroke="#10103D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg> M&aacute;s informaci&oacute;n
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <img src="/assets/images/data-analytics.webp" class="d-none d-lg-block img-fluid rounded-end" alt="data-analytics">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card selectStudy__content--card mb-3" style="max-width: 625px;">
        <div class="row g-0">
          <img src="/assets/images/data-analitycs-2.webp" class="d-block d-lg-none card-img-top" alt="data-analytics">
          <div class="col-lg-7">
            <div class="card-body">
              <span class="selectStudy__body--span">PROGRAMA DE ESPECIALIZACIÓN</span>
              <h3>Data Engineer
                & Cloud
                <br>
                Computing</h3>
              <div class="line"></div>
              <div class="mb-3">
                <p>Inicio: 24 de setiembre</p>
                <p>Duraci&oacute;n: 8 semanas</p>
                <p><i class='bx bx-time-five'></i> S&aacute;bados | 17hr - 20hr</p>
              </div>
              <div class="mb-3">
                <div class="selectStudy__body--tools row row-cols-2">
                  <div class="col">
                    <img src="/assets/images/tool-git.webp" alt="tool-git">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-hadoop.webp" alt="tool-hadoop">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-spark.webp" alt="tool-spark">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-google-cloud.webp" alt="tool-google-cloud">
                  </div>
                </div>
              </div>
              <div class="selectStudy__body--link">
                <div class="border-section"></div>
                <a href="https://data-growth-23930117.hubspotpagebuilder.com/bootcamp-data-analytics?hsLang=es" target="_blank">
                  <svg class="mx-1" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 7.1911V10.2867M10 10.2867V13.3822M10 10.2867H13M10 10.2867H7M19 10.2867C19 11.5062 18.7672 12.7138 18.3149 13.8405C17.8626 14.9672 17.1997 15.991 16.364 16.8533C15.5282 17.7156 14.5361 18.3997 13.4442 18.8664C12.3522 19.3331 11.1819 19.5733 10 19.5733C8.8181 19.5733 7.64778 19.3331 6.55585 18.8664C5.46392 18.3997 4.47177 17.7156 3.63604 16.8533C2.80031 15.991 2.13738 14.9672 1.68508 13.8405C1.23279 12.7138 1 11.5062 1 10.2867C1 7.82368 1.94821 5.46158 3.63604 3.72C5.32387 1.97841 7.61305 1 10 1C12.3869 1 14.6761 1.97841 16.364 3.72C18.0518 5.46158 19 7.82368 19 10.2867Z" stroke="#10103D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg> M&aacute;s informaci&oacute;n
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <img src="/assets/images/data-enginer.webp" class="d-none d-lg-block img-fluid rounded-end" alt="data-enginer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
