<section class="selectStudy">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card selectStudy__content--card mb-3" style="max-width: 600px;">
        <div class="row g-0">
          <img src="/assets/images/data-analitycs-2.png" class="d-block d-lg-none card-img-top" alt="data-analytics">
          <div class="col-lg-7">
            <div class="card-body">
              <span class="selectStudy__body--span">GRUPO DE ESTUDIO</span>
              <h3>Data Analytics & Business Intelligence</h3>
              <div class="line"></div>
              <div class="mb-3">
                <p>Inicio: 23 de setiembre</p>
                <p>Duraci&oacute;n: 8 semanas</p>
                <p><i class='bx bx-time-five'></i> S&aacute;bados | 17hr - 20hr</p>
              </div>
              <div class="mb-3">
                <div class="selectStudy__body--tools row row-cols-2">
                  <div class="col">
                    <img src="/assets/images/tool-sql.png" alt="tool-sql">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-python.png" alt="tool-python">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-powerbi.png" alt="tool-powerbi">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-numpy.png" alt="tool-numpy">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-matplotlib.png" alt="tool-matplotlib">
                  </div>
                </div>
              </div>
              <div class="selectStudy__body--link">
                <div class="border-section"></div>
                <a href="https://data-growth-23930117.hubspotpagebuilder.com/bootcamp-data-analytics?hsLang=es" target="_blank">
                  <img src="/assets/images/plus-link.png" alt="plus-link"> M&aacute;s informaci&oacute;n
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <img src="/assets/images/data-analytics.png" class="d-none d-lg-block img-fluid rounded-end" alt="data-analytics">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card selectStudy__content--card mb-3" style="max-width: 600px;">
        <div class="row g-0">
          <img src="/assets/images/data-analitycs-2.png" class="d-block d-lg-none card-img-top" alt="data-analytics">
          <div class="col-lg-7">
            <div class="card-body">
              <span class="selectStudy__body--span">PROGRAMA DE ESPECIALIZACIÓN</span>
              <h3>Data Engineer
                & Cloud
                <br>
                Computing</h3>
              <div class="line"></div>
              <div class="mb-3">
                <p>Inicio: 24 de setiembre</p>
                <p>Duraci&oacute;n: 8 semanas</p>
                <p><i class='bx bx-time-five'></i> S&aacute;bados | 17hr - 20hr</p>
              </div>
              <div class="mb-3">
                <div class="selectStudy__body--tools row row-cols-2">
                  <div class="col">
                    <img src="/assets/images/tool-git.png" alt="tool-git">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-hadoop.png" alt="tool-hadoop">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-spark.png" alt="tool-spark">
                  </div>
                  <div class="col">
                    <img src="/assets/images/tool-google-cloud.png" alt="tool-google-cloud">
                  </div>
                </div>
              </div>
              <div class="selectStudy__body--link">
                <div class="border-section"></div>
                <a href="https://data-growth-23930117.hubspotpagebuilder.com/bootcamp-data-analytics?hsLang=es" target="_blank">
                  <img src="/assets/images/plus-link.png" alt="plus-link"> M&aacute;s informaci&oacute;n
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <img src="/assets/images/data-enginer.png" class="d-none d-lg-block img-fluid rounded-end" alt="data-enginer">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
