<section class="professionalImpact">
    <div class="professionalImpact__container">
        <div class="row m-0 ">
            <div class="col-12 col-md-9 professionalImpact__header">
                <h2 class="text-center">Buscamos impactar en tu crecimiento profesional</h2>
                <p  class="text-center">Logra tus metas de manera eficiente y potencia tus habilidades del futuro, obteniendo grandes resultados.</p>
            </div>
        </div>

        <div class="row m-0 professionalImpact__blocks">
            <div class="col mb-2 professionalImpact__block">
                <h2>99&#37;</h2>
                <p>Estudiantes nos recomiendan</p>
            </div>
            <div class="col mb-2 professionalImpact__block">
                <h2>99&#37;</h2>
                <p>Egresados trabajan en Data</p>
            </div>
            <div class="col mb-2 professionalImpact__block">
                <h2>5</h2>
                <p>Programas desarrollados</p>
            </div>
            <div class="col mb-2 professionalImpact__block">
                <h2>&#43;200</h2>
                <p>Estudiantes impactados</p>
            </div>

        </div>
    </div>
</section>