<div class="container text-center">
    <div class="row">
        <div class="col dgc-impact">
            <h2>Buscamos impactar en tu crecimiento profesional</h2>
            <p>Logra tus metas de manera eficiente y potencia tus habilidades del futuro, obteniendo grandes resultados.
            </p>
        </div>

        <div class="row card-data">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <div><h4>99%</h4></div>
                    <div><span class="text">Estudiantes nos recomiendan</span></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <div><h4>99%</h4> </div>
                    <div><span class="text">Egresados trabajan en Data</span></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <div><h4>5</h4></div>
                    <div><span class="text">Programas desarrollados</span></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <div><h4>+200</h4></div>
                    <div><span class="text">Estudiantes impactados</span></div>
                </div>
            </div>

        </div>
    </div>