<section class="professionalImpact">
    <div class="professionalImpact__container">
        <div class="row m-0">
            <div class="col-12 col-md-12 professionalImpact__header">
                <h2 class="professionalImpact__title">Buscamos <span class="impact">impactar</span> en tu crecimiento <span class="professional">profesional</span></h2>
                <p class="professionalImpact__description">Alcanza tus objetivos con eficacia y desarrolla las
                    habilidades esenciales para el futuro, asegurando resultados sobresalientes.</p>
            </div>
            <div class="col-12 professionalImpact__blocks">
              <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-4 p-2">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-4 col-md-6">
                        <p class="mb-1 profesionalImpact__percentage">98<span class="profesionalImpact_desc">&#37;</span></p>
                    </div>
                    <div class="col-8 col-md-6">
                        <p class="text-center profesionalImpact__percentage--text mb-0">Estudiantes nos recomiendan</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 p-2">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-4 col-md-6">
                        <p class="mb-1 profesionalImpact__percentage">87<span class="profesionalImpact_desc">&#37;</span></p>
                    </div>

                    <div class="col-8 col-md-6">
                        <p class="text-center profesionalImpact__percentage--text mb-0">Egresados trabajan en Data</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 p-2">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-4 col-md-6">
                        <p class="mb-1 profesionalImpact__percentage"><span class="profesionalImpact_desc">&#43;</span>200</p>
                    </div>

                    <div class="col-8 col-md-6">
                        <p class="text-center profesionalImpact__percentage--text mb-0">Estudiantes impactados</p>
                    </div>
                  </div>
                </div>
              </div>




            </div>
        </div>


    </div>
</section>
